Flask>=3.0.3
tensorflow>=2.17.0  # TensorFlow 2.12+ diperlukan untuk Python 3.11
numpy>=1.26.4       # Versi yang lebih baru untuk kompatibilitas Python 3.11
Pillow>=10.3.0       # Versi yang lebih baru untuk kompatibilitas Python 3.11
pip  >= 24.0
